@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.navBarLogo {
  margin: 10px;
  color: #d0bdad;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
  text-shadow: 2px 1px #715134;
}

.navBarLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.link {
  margin: 5px;
  padding: 10px 20px;
  font-size: 2rem;
  text-decoration: none;
  color: #d0bdad;
  background-color: #473321;
  box-shadow: 2px 4px #000;
}

.link:hover {
  background-color: #d0bdad;
  color: #715134;
}

@media screen and (min-width: 1024px) {
  .navBar {
    flex-direction: row;
    align-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
  }
  .navBarLogo {
    font-size: 2.5rem;
  }

  .navBarLinks {
    justify-content: end;
  }

  .link {
    margin: 0px 20px;
    font-size: 1.5rem;
  }
}
