* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: left;
  width: 80%;
  height: 350px;
  margin: 20px;
  padding: 10px;
  background-color: #473321;
}

img {
  max-width: 100%;
  max-height: 70%;
  object-fit: cover;
  margin-bottom: 20px;
}

.icon {
  margin-right: 5px;
  font-size: 1.5rem;
}

.item div {
  display: flex;
  color: #d0bdad;
  margin: 0 10px;
}

.buttons {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -10px;
}

.button {
  width: 30px;
  height: 30px;
  color: #473321;
  font-size: 1rem;
  background-color: #d0bdad;
  box-shadow: 2px 4px #000;
  vertical-align: middle;
}

.button:hover {
  opacity: 0.8;
}

.iconbtn {
  margin: 5px;
}

.title {
  font-weight: 600;
}

.category {
  font-style: italic;
  font-size: 0.8rem;
}

p {
  margin-top: 100px;
  font-size: 1rem;
}

@media screen and (min-width: 1024px) {
  .item {
    width: 40%;
  }
}
